body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background: lightblue;
}

/*.prof-box {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 800px;
  width: 800px;
  margin: 6.25px auto;
  background: white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}*/

.wrapper {

  border-radius: 50px;
  max-width: 800px;
  margin: 50px auto;
  background: white;
}

.chart2 {
  visibility: hidden;

}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

